.Layout {
  height: 100vh;
}

.PageContainer {
  height: 90vh;
  .Page {
    height: 100%;
    overflow: auto;
  }
}

.Header {
  height: 10vh;
  background: #032541;
  color: white;
  padding-right: 100px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .Nav {
    a {
      color: white;
      text-decoration: none;
      display: inline-block;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
    list-style-type: none;
    display: flex;
    gap: 10px;
  }
}
